.form-box {
	margin: auto;
	padding: 10px;
	max-width: 400px;
}
.wide-button {
	width: 100%;
}
.half-button {
	width: 48%;
	margin: 1%;
}
.input-box {
	margin: 10 10;
}
.help-link {
	text-align: right;
	font-size: small;
}
.error-box {
	color: #ff4136;
}
