md-card(layout-margin layout-padding ng-show="!!!home.login.user.username")
	.md-title(flex="") Hey
	md-card-content(flex="") Do you have an account?
	span(layout="row" layout-sm="column" flex="")
		md-button.md-raised.md-primary(flex="" ui-sref="login") Yes, I do
		md-button.md-raised.md-primary(flex="" ui-sref="signup") No, please help me
md-card(layout-margin layout-padding flex="")
	md-card-content 
		md-button(ng-click="home.startLoading()") Start loading
		md-button(ng-click="home.stopLoading()") Stop loading
