html
	head
		link(rel="stylesheet" href="/picnic.css")
		link(rel="stylesheet" href="/dialog.css")
	body
		form.form-box(action="/activate_account" method="post" target="_top")
			input(type="hidden" name="xsrf" value="#{xsrf}")
			section
				h2 Activate account
			if error
				section.error-box.
					Error: #{error}
			if email
				section.
					An email with a code has been sent to !{email}.
			section.input-box
				label(for="username") Username
				input(type="text" name="username")
			section.input-box
				label(for="code") Activation code
				input(type="text" name="activationCode")
			section
				button.wide-button() Activate
			section.help-link
				a(href="/login") Log in
			section.help-link
				a(href="/signup") Signup
			section.help-link
				a(href="/recover") Recover account
