html
	body
		h2 Callback
		p Todo: Open dialog in a popup.
		p Return success or failure to login state which opened popup.
		p This view should be a white screen with just some js to return result.
		p error !{error}
		p error_description !{error_description}
		p token_type !{token_type}
