html
	head
		link(rel="stylesheet" href="/picnic.css")
		link(rel="stylesheet" href="/dialog.css")
	body
		.form-box
			h2 It broke. :(
			p If you think it's my fault, send me a message.
			p TODO Error reporting functionality
			pre !{data}
