html
	head
		link(rel="stylesheet" href="/picnic.css")
		link(rel="stylesheet" href="/dialog.css")
	body
		form.form-box(action="/api/login" method="post" target="_top")
			input(type="hidden" name="xsrf" value="#{xsrf}")
			section
				h2 Login
			if error
				section.error-box.
					Error: #{error}
			section.input-box
				label(for="username") Username
				input#name(type="text" name="username")
			section.input-box
				label(for="password") Password
				input#password(type="password" name="password")
			section
				button.wide-button(type="submit") Submit
			section.help-link
				a(href="/signup") Signup
			section.help-link
				a(href="/recover") Recover
