span(layout="column" layout-margin layout-padding flex="")
	span.md-title(layout="row" flex="") Terms and conditions
	span(layout="row" layout-sm="column" flex="")
		md-card(layout="column" flex="") 
			md-card-content
				.md-title(layout-margin layout-padding) Legal header
				span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien felis, pellentesque id sapien id, blandit gravida nibh. Suspendisse potenti. Sed vitae auctor metus. Sed vel ullamcorper sapien. Donec consequat, nisl vitae facilisis ultricies, mi sapien eleifend ipsum, vel rhoncus enim mauris non nunc. Aliquam porttitor nisi porta, semper leo ac, rhoncus nibh. Aenean et sapien ut elit suscipit tincidunt gravida malesuada augue. Donec vitae arcu varius, suscipit eros nec, tristique turpis. Suspendisse laoreet condimentum felis, id dictum dolor dictum nec. Mauris sapien tellus, eleifend sed porttitor hendrerit, vestibulum quis lorem.
		md-card(layout="column" flex="")
			md-card-content
				.md-title Lots of old words.
	span.md-title(layout="row" flex="") Privacy
	span(layout="row" layout-sm="column" flex="")
		md-card(layout="column" flex="") 
			md-card-content
				.md-title(layout-margin layout-padding) Legal header
				span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien felis, pellentesque id sapien id, blandit gravida nibh. Suspendisse potenti. Sed vitae auctor metus. Sed vel ullamcorper sapien. Donec consequat, nisl vitae facilisis ultricies, mi sapien eleifend ipsum, vel rhoncus enim mauris non nunc. Aliquam porttitor nisi porta, semper leo ac, rhoncus nibh. Aenean et sapien ut elit suscipit tincidunt gravida malesuada augue. Donec vitae arcu varius, suscipit eros nec, tristique turpis. Suspendisse laoreet condimentum felis, id dictum dolor dictum nec. Mauris sapien tellus, eleifend sed porttitor hendrerit, vestibulum quis lorem.
		md-card(layout="column" flex="")
			md-card-content
				.md-title Lots of old words.
