md-card(layout="column" layout-margin layout-padding flex="")
	.md-title(flex="") Welcome back!
	form(action="/api/login" method="post" target="_top" 
		ng-submit="form.$valid"
		)
		md-input-container(flex="")
			label Username
			input(name="username" ng-required="true")
		md-input-container(flex="")
			label Password
			input(name="password" type="password" ng-required="true")
		span(layout="row" layout-sm="column" flex="")
			md-button.md-raised.md-primary(type="submit" flex="") Log in
	div(layout="row" layout-align-gt-sm="end center" flex="")
		md-button(ui-sref="signup" flex="") Sign up
		md-button(ui-sref="recover" flex="") Recover
